.umut{
    padding: 5px;
    width: 100%;
    height: auto;
    position: relative;
    text-align: left;
    top: 65px;
}


@media only screen and (max-width: 768px) {
    .umut {
        z-index: -1;
        top: 65px;
        text-align: center;
    }

}